@use 'app/common-styles/reset';
@use 'app/common-styles/typography';
@use 'app/common-styles/colors' as colors;

body {
  background-color: colors.$page-background;
}

.container{
  width: 100%;
  padding: 24px;
}

.button{
  border: none;
  outline: none;
  cursor: pointer;
}
