$primary-color: #23B04A;
$secondary-color: #C2E7C8;
$third-color: #0F91E6;

$main-text-color: #000000DE;
$secondary-text-color: #00000099;
$third-text-color: #00000061;

$separator-color: #21212114;

$page-background: #F5F5F5;

$white: #FFFFFF;
$black: #000000;
