<section class="task-describe">
  <ul class="task-describe__list">
    <li class="task-describe__list-item">
      <h3 class="task-describe__list-title">ID в ERP (GUID)</h3>
      <p class="task-describe__list-text">28fedb4b-85a1-11e8-80e5-00155df02900</p>
    </li>
    <li class="task-describe__list-item">
      <h3 class="task-describe__list-title">Серийный номер</h3>
      <p class="task-describe__list-text">37767108</p>
    </li>
    <li class="task-describe__list-item">
      <h3 class="task-describe__list-title">ID в паспорте</h3>
      <p class="task-describe__list-text">18941</p>
    </li>
    <li class="task-describe__list-item">
      <h3 class="task-describe__list-title">EO</h3>
      <p class="task-describe__list-text">10025426</p>
    </li>
    <hr class="task-describe__separator"/>
    <li class="task-describe__list-item">
      <h3 class="task-describe__list-title">Название</h3>
      <p class="task-describe__list-text">Система щелочи, Watertown, NaOH</p>
    </li>
    <li class="task-describe__list-item">
      <h3 class="task-describe__list-title">Класс</h3>
      <p class="task-describe__list-text">Система щелочи</p>
    </li>
    <li class="task-describe__list-item">
      <h3 class="task-describe__list-title">Производитель</h3>
      <p class="task-describe__list-text">Watertown</p>
    </li>
  </ul>
</section>
