@use '../../../common-styles/colors' as colors;
@use '../../../common-styles/typography' as typography;

.task-describe{
  padding: 16px;
  background-color: colors.$white;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;

  &__list{}

  &__list-item{
    margin-bottom: 8px;
  }

  &__list-title{
    margin-bottom: 2px;
    color: colors.$third-text-color;
    font-size: map-get(typography.$font-sizes, s);
  }

  &__list-text{
    color: colors.$main-text-color;
    font-size: map-get(typography.$font-sizes, s);
  }

  &__separator{
    margin: 16px 0 16px 0;
  }

}
