@use '../../../common-styles/colors' as colors;
@use '../../../common-styles/typography' as typography;

.select{
  padding: 4px 8px 4px 4px;
  border: 1px solid #0000001F;
  border-radius: 2px;
  direction: rtl;
  font-size: map-get(typography.$font-sizes, m);
  cursor: pointer;
  text-align: left;
  outline: none;

  &__option{
    color: colors.$secondary-text-color;

  }

}
