<main class="task-info">
  <div class="container task-info__container">
    <div class="task-info__header">
      <div class="task-info__title">
        <img src="{{task?.task?.icon}}" alt="icon">
        <div class="task-info__title-info">
          <h1 class="task-info__name">{{task?.task?.name}}</h1>
          <h2 class="task-info__id">{{task?.task?.number}}</h2>
        </div>
      </div>
      <div class="task-info__action">
        <app-select [selectedOption]="task?.task?.status || ''" (changedOption)="statusChanged($event)" class="task-info__select"></app-select>
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path stroke="#EE3F44" fill-rule="evenodd" clip-rule="evenodd" d="M12 21.35L10.55 20.03C5.4 15.36 2 12.28 2 8.5C2 5.42 4.42 3 7.5 3C9.24 3 10.91 3.81 12 5.09C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.42 22 8.5C22 12.28 18.6 15.36 13.45 20.04L12 21.35Z" fill="none"/>
        </svg>
      </div>
    </div>
    <nav class="task-info__navigation">
      <button
        type="button"
        class="button task-info__button"
        [class.task-info__button_active]="activeTab === tabs.analytics"
        (click)="swapTabs(tabs.analytics)">Аналитика</button>
      <button
        type="button"
        class="button task-info__button"
        [class.task-info__button_active]="activeTab === tabs.describe"
        (click)="swapTabs(tabs.describe)">Описание</button>
    </nav>
    <hr class="task-info__separator"/>
  </div>
  <router-outlet></router-outlet>
</main>

