@use "../../common-styles/layout-mixins" as layout;
@use '../../common-styles/colors' as colors;

.dashboards{

  &__container{
    margin-top: 8px;
    @include layout.grid-gap24-rc-f292px-to1fr;
    width: 100%;
  }

}
